langchain
openai
pypdf
tiktoken
aiofiles
fastapi
uvicorn
jinja2
python-multipart
PyPDF2
load_dotenv
faiss-cpu
streamlit
streamlit_chat
chainlit
accelerate
sentence_transformers
unstructured==0.5.6
qdrant-client
sqlalchemy-orm
sqlalchemy